BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
SortIncludes: Never
BreakStringLiterals: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
InsertBraces: true
PointerAlignment: Right
